@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;500;600&display=swap");
html{
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  color: #161c20;
  overflow: auto;
}

.item-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

img {
  max-width: 100%;
  height: auto;
}

.rounded {
  border-radius: 0.25rem;
}

.text-center {
  text-align: center;
}

.w-color {
  color: #ffffff;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.shadow {
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12);
}


.left-float {
  float: left;
}

.right-float {
  float: right;
}

.capital {
  text-transform: capitalize;
}

.fixed-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 30;
}

:root {
  --main-transition: 0.3s;
  --blue-color: #0f8cfa;
  --dark-blue-color: #0875d5;
  --main-pt: 100px;
  --main-pb: 100px;
  --bg-section: #ececec;
  --blue-footer-text: #428bca;
  --bg-footer-black: #161c20;
  --bg-facebook: #3b5998;
  --purple-color: #5466cb;
  --border-input: #ced4da;
  --color-input: #1f2226;
  --red-danger-color: #d53227;
  --dark-green: #26963d;
  --dark-orange: #da6632;
  --orange-color: #fca120;
  --yellow-color: #edd42d;
  --light-yellow-color: #f5dd3b;
  --gradient-overlay: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75));
  --relax-green: #29c187;
  --light-border-b: #f4f0f0;
  --shadow-btn: 0 6px 25px -25px #000;
  --border-in-2: #9fa7ad;
  --main-green: #27a74b;
  --grey-for-white: #65676B;
}

.cursor {
  cursor: pointer;
}

.clear {
  clear: both;
}

.scroll-top{
  background: #1ce355;
  height: 50px;
  cursor: pointer;
  width: 50px;
  position: fixed;
  bottom: 15px;
  right: 15px;
  border-radius: 50%;
}

/* content */

/* header */

header{
  background: #075E54;
}
header .search i{
  font-size: 15px;
  padding: 0 15px;
}
header h4{
  font-size: 15px;
}
header h5{
  font-size: 1rem;
}
header .first{
  padding: 15px 0 25px 0;
}
header .cam{
  flex-basis: 7%;
}
header .disc,.stat,.appel{
  flex-basis: 31%;
}
.fa-camera{
  padding-top: 5px;
}


/* section */

.image1,.image2,.image3,.image4,.image5,.image6,.image7,.image8,.image9,.image10,.image11{
  width: 50px;
  margin-right: 20px;
  height: 50px;
  border-radius: 50%;
}
section .two{
  background: #1ce355;
  color: #fff;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
section .info{
  border-bottom: 1px solid #ebe9e9;
  padding-bottom: 20px;
}
section .last{
  border-bottom: 1px solid #f0f0f0;
  padding-bottom: 26px;
}
section .console{
  margin-top: 20px;
}
section h4{
  font-size: 14px;
}
section p.h5-xsmall{
  font-size: 13px !important;
}
section .time{
  font-size: 13px;
}
section .two{
  font-size: 12px;
}
